*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: sans-serif;
}
.container{
	width:80%;
	margin:0 auto;
	height:auto;
}
.feature-row{
	display:flex;
	gap:40px;
	margin-top:50px;
}
.feature-col-1{
	width:35%;
}
.feature-col-2{
	width:65%;
}
.content-box{
	box-shadow:0px 0px 5px gray;
	padding:40px;
}
.card{
	display:flex;
	margin-top:30px;
}
.head p{
	line-height:1.5;
	padding-top:10px;
	color:gray;
	font-size:14px;
}
.section{
	margin-left:20px;
}
.card i{
	color:skyblue;
	font-size:30px;
	padding-top:10px;
}
.section p{
	line-height:1.5;
	margin-top:5px;
	color:gray;
}
#your-name{
	width:49%;
	height:50px;
	padding:10px;
	color:gray;
	border:2px solid #a59e9e75;
}
#your-email{
	width:48%;
	height:50px;
	padding:10px;
	color:gray;
	border:2px solid #a59e9e75;
	float:right;
}
.card h3{
	font-weight:100;
}
#subject{
	width:100%;
	height:50px;
	padding:10px;
	color:gray;
	border:2px solid #a59e9e75;
	margin:20px 0px;
}
.button{
	text-align:center;
	margin-top:20px; 
}
button{
	height:50px;
	width:200px;
	background-color:#217ca1;
	color:white;
	border:1px blue;
	font-size:16px;
}
#message{
	padding:10px;
	color:gray;
	border:2px solid #a59e9e75;
}
hr{
	border:-1px solid gray;
	margin-top:15px;
}
.card p{
	font-size:15px;
}
.icon{
	width:20px;
	height:50px;
}